@media (max-width:1400px) {

}

@media (max-width:1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width:576px) {

    .hero {
        .hero__image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &.ratio-16x9 {
                --bs-aspect-ratio: 130%;
            }
            .hero__content {
                padding: 0 0 25%;
                &:after {
                    content: '';
                    position: absolute;
                    height: 50%;
                }
                h3 {
                    padding: 0 20px;
                    font-size: 32px;
                    text-align: center;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .gallery {
        padding: 30px 0;
        .gallery__heading {
            margin: 0 0 20px;
            font-family: "Playfair Display",serif;
            font-size: 32px;
        }
        .gallery__item {
            margin: 0 5%;
            figure {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 280px 280px 0 0;
                border: 2px solid #e4c591;
                overflow: hidden;
                --bs-aspect-ratio: 180%;
                .gallery__content {
                    padding: 30px;
                    background-color: #eee;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    border-radius: 280px 280px 0 0;
                    opacity: 0;
                    visibility: visible;
                    transition: all 0.3s ease;
                    &:after {
                        content: '';
                        left: -50px;
                        right: -50px;
                        bottom: 30px;
                        position: absolute;
                        border-bottom: 2px solid #e4c591;
                    }
                    img {
                        margin: 0 auto;
                        height: 50px;
                        width: initial !important;
                    }
                    div {
                        margin: 10px 0 0;
                        font-size: 12px;
                    }
                }
            }
            &:hover {
                a {
                    color: #000;
                }
                .gallery__content {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .gallery__js {
            &.owl-carousel {
                .owl-stage-outer {
                    overflow: inherit !important;
                }
            }
        }

    }

    .service {
        padding: 30px 0;
        .service__heading {
            margin: 0;
            font-family: "Playfair Display",serif;
            text-transform: uppercase;
        }
        .service__row {
            padding: 0 0 30px;
            border-top: none;
            &:last-child {
                border-bottom: none;
            }
            &:nth-child(odd) {
                .service__item {
                    .service__number {
                        order: 1;
                    }
                    .service__image {
                        order: 2;
                    }
                    .service__content {
                        order: 3;
                    }
                }
            }
            .service__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .service__col {
                    width: 100%;
                }
                .service__number {
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1.5px #3c3c3c;
                    font-family: "Playfair Display",serif;
                    font-size: 90px;
                    font-weight: 700;
                    text-align: center;
                }
                .service__image {
                    position: relative;
                    &:before, &:after {
                        content: '';
                        top: 0;
                        bottom: 0;
                        border-left: 1px solid #e4c591;
                        display: block;
                        position: absolute;
                        left: 31px;
                        z-index: -2;
                    }
                    &:after {
                        left: inherit;
                        right: 31px;
                    }
                    figure {
                        margin: 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .service__image--inner {
                        padding: 30px;
                        border-left: 1px solid #e4c591;
                        border-right: 1px solid #e4c591;
                        position: relative;
                        &:before, &:after {
                            content: '';
                            left: 0;
                            right: 0;
                            border-top: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            z-index: -2;
                        }
                        .left-top {
                            left: 15px;
                            top: 15px;
                            z-index: -1;
                        }
                        .right-top {
                            right: 15px;
                            top: 15px;
                            z-index: -1;
                        }
                        .left-bottom {
                            left: 15px;
                            bottom: 15px;
                            z-index: -1;
                        }
                        .right-bottom {
                            right: 15px;
                            bottom: 15px;
                            z-index: -1;
                        }
                    }
                }
                .service__content {
                    margin: 15px 0 0;
                    padding: 0 20px;
                    text-align: center;
                    .service__title {
                        margin: 0 0 20px;
                        font-size: 24px;
                        a {
                            color: #e4c591;
                        }
                    }
                }
            }
        }
    }


    .profilo {
        padding: 30px 0;
        .profilo__headline {
            margin: 0 0 20px;
            text-transform: uppercase;
            text-align: center;
            font-family: "Playfair Display",serif;
        }
        .profilo__row {
            border-top: 1px solid #e4c591;
            border-bottom: 1px solid #e4c591;
            .profilo__list {
                flex-wrap: wrap;
                .profilo__col:nth-child(1){
                    width: 100%;
                    .profilo__item {
                        position: relative;
                        border-bottom: 1px solid #e4c591;
                        &:before, &:after {
                            content: "";
                            top: 0;
                            bottom: 0;
                            border-left: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            right: 29px;
                            left: inherit;
                            z-index: -2;

                        }
                        &:before {
                            left: 29px;
                            right: inherit;
                        }
                        .profilo__item--inner {
                            padding: 30px;
                            position: relative;
                            &:before, &:after {
                                content: "";
                                left: 0;
                                right: 0;
                                border-top: 1px solid #e4c591;
                                display: block;
                                position: absolute;
                                z-index: -2;
                                top: 29px;
                            }
                            &:after {
                                top: inherit;
                            }
                            &:before {
                                bottom: 29px;
                            }
                            .square {
                                width: 30px;
                                height: 30px;
                                z-index: -1;
                            }
                            .left-top {
                                left: 15px;
                                top: 15px;
                            }
                            .right-top {
                                right: 15px;
                                top: 15px;
                            }
                            .left-bottom {
                                left: 15px;
                                bottom: 15px;
                            }
                            .right-bottom {
                                right: 15px;
                                bottom: 15px;
                            }
                            .profilo__content {
                                h3 {
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
                .profilo__col:nth-child(2){
                    width: 100%;
                    .profilo__item {
                        position: relative;
                        &:first-child {
                            border-bottom: 1px solid #e4c591;
                        }
                        &:before, &:after {
                            content: "";
                            top: 0;
                            bottom: 0;
                            border-left: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            right: 29px;
                            z-index: -2;
                        }
                        &:before {
                            left: 29px;
                            right: inherit;
                        }
                        .profilo__item--inner {
                            padding: 30px;
                            border-left: none;
                            position: relative;
                            &:before, &:after {
                                content: "";
                                left: 0;
                                right: 0;
                                border-top: 1px solid #e4c591;
                                display: block;
                                position: absolute;
                                top: 29px;
                                z-index: -2;
                            }
                            &:after {
                                top: inherit;
                                bottom: 29px;
                            }
                            .square {
                                z-index: -1;
                            }
                            .left-top {
                                top: 15px;
                                left: 15px;
                            }
                            .right-top {
                                top: 15px;
                                right: 15px;
                            }
                            .left-bottom {
                                bottom: 15px;
                                left: 15px;
                            }
                            .right-bottom {
                                bottom: 15px;
                                right: 15px;
                            }
                        }
                    }
                }
                figure {
                    margin: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .profilo__item {
                    .profilo__content {
                        padding: 0 30px;
                        background-color: #eee;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease;
                        h3 {
                            margin: 0 0 15px;
                            font-size: 24px;
                            font-family: "Playfair Display",serif;
                        }
                    }
                }
            }
        }
    }


    .client {
        padding: 30px 0;
        .client__heading {
            margin: 0 0 20px;
            text-align: center;
            text-transform: uppercase;
            font-family: "Playfair Display",serif;
        }
        .client__row {
            border-top: 1px solid #e4c591;
            border-bottom: 1px solid #e4c591;
        }
        .client__list {
            .client__item {
                display: flex;
                border-right: none ;
                flex-wrap: wrap;
                .client__left {
                    width: 100%;
                    position: relative;
                    border-bottom: 1px solid #e4c591;
                    &:before {
                        content: "";
                        top: 0;
                        bottom: 0;
                        border-left: 1px solid #e4c591;
                        display: block;
                        position: absolute;
                        right: 30px;
                        z-index: -2;
                    }
                    &:after {
                        content: "";
                        top: 0;
                        bottom: 0;
                        border-left: 1px solid #e4c591;
                        display: block;
                        position: absolute;
                        left: 30px;
                        z-index: -2;
                    }
                    .client__image {
                        padding: 30px;
                        border-left: 1px solid #e4c591;
                        border-right: 1px solid #e4c591;
                        &:before {
                            content: "";
                            left: 0;
                            right: 0;
                            border-top: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            z-index: -2;
                            top: 29px;
                        }
                        &:after {
                            content: "";
                            left: 0;
                            right: 0;
                            border-top: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            z-index: -2;
                            bottom: 29px;
                        }
                        .square {
                            z-index: -1;
                        }
                        .left-top {
                            left: 15px;
                            top: 15px;
                        }
                        .right-top {
                            right: 15px;
                            top: 15px;
                        }
                        .left-bottom {
                            left: 15px;
                            bottom: 15px;
                        }
                        .right-bottom {
                            right: 15px;
                            bottom: 15px;
                        }
                    }
                    figure {
                        margin: 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .client__right {
                    padding: 0 30px;
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    &:before {
                        content: '';
                        display: block;
                        border-left: 1px solid #e4c591;
                        margin: 0 auto 20px;
                        flex: 1;
                    }
                    &:after {
                        content: '';
                        display: block;
                        border-left: 1px solid #e4c591;
                        margin: 20px auto 0;
                        flex: 1;
                    }
                    .client__content {
                        .client__title {
                            margin: 15px 0;
                            font-family: "Playfair Display",serif;
                            color: #e4c591;
                        }
                    }
                }
            }
            .owl-nav {
                position: initial;
                margin: 0 0 20px;
                left: 0;
                bottom: 0;
                button {
                    position: initial !important;
                    left: initial !important;
                    right: initial !important;
                    top: initial !important;
                    background-color: #FFF !important;
                    border: none !important;
                    color: #eec587 !important;
                    box-shadow: 0 0 0 1px #eec587 !important;
                }
            }
        }
    }


    .news {
        padding: 30px 0;
        overflow: hidden;
        .news__headline {
            margin: 0 0 20px;
            text-align: center;
            text-transform: uppercase;
            font-family: "Playfair Display",serif;
        }
        .news__list {
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            .news__item {
                margin: 0 0 15px;
                padding: 0 15px;
                width: 100%;
                .news__content {
                    padding: 0 20px;
                }
                .news__image {
                    padding: 30px;
                    border: 1px solid #e4c591;
                    position: relative;
                    &:before {
                        content: "";
                        top: 0;
                        bottom: 0;
                        border-left: 1px solid #e4c591;
                        display: block;
                        position: absolute;
                        right: 29px;
                        z-index: -2;
                    }
                    &:after {
                        content: "";
                        top: 0;
                        bottom: 0;
                        border-left: 1px solid #e4c591;
                        display: block;
                        position: absolute;
                        left: 29px;
                        z-index: -2;
                    }
                    .news__image--inner {
                        &:before {
                            content: "";
                            left: 0;
                            right: 0;
                            border-top: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            z-index: -2;
                            top: 29px;
                        }
                        &:after {
                            content: "";
                            left: 0;
                            right: 0;
                            border-top: 1px solid #e4c591;
                            display: block;
                            position: absolute;
                            z-index: -2;
                            bottom: 29px;
                        }
                        figure {
                            margin: 0;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .square {
                            width: 30px;
                            height: 30px;
                            z-index: -1;
                        }
                        .left-top {
                            top: 15px;
                            left: 15px;
                        }
                        .right-top {
                            top: 15px;
                            right: 15px;
                        }
                        .left-bottom {
                            bottom: 15px;
                            left: 15px;
                        }
                        .right-bottom {
                            bottom: 15px;
                            right: 15px;
                        }
                    }
                }
                .news__content {
                    .news__title {
                        margin: 15px 0;
                        font-family: "Playfair Display",serif;
                        font-size: 22px;
                    }
                    .news__intro {
                        margin: 0 0 10px;
                        color: #333;
                        > * {
                            color: #333;
                        }
                    }
                    .news__data {
                        color: #666;
                        font-size: 12px;
                    }
                }
            }
        }
        &.category {
            padding: 0;
            overflow: hidden;
            .category__header {
                figure {
                    margin: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #f6f6f6;
                    &:before {
                        padding-top: 55.6%;
                    }
                }
            }
            .category__heading {
                margin: 30px 0;
                font-size: 36px;
                font-family: "Playfair Display",serif;
            }
        }
        &.relation {
            padding: 0;
            .news-single__relation_title {
                font-size: 22px;
                font-family: "Playfair Display",serif;
                text-align: center;
                margin: 15px 0;
            }
        }
    }


    .single {
        .single__heading {
            margin: 30px 0;
            font-size: 36px;
            font-family: "Playfair Display",serif;
        }
        .single__author {
            margin: 30px 0 0;
            text-align: center;
            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
            div:nth-child(1) {
                margin: 0 0 15px;
            }
            div {
                font-size: 14px;
                margin: 0 0 5px;
            }
            div:nth-child(3) {

            }
            div:nth-child(2) {

            }
        }
        .single__info--row {
            margin: 0 0 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > div {
                margin: 0 0 10px;
                display: flex;
                flex-wrap: wrap;
                flex: auto;
                width: 100%;
                > div:nth-child(1) {
                    font-size: 22px;
                    font-family: "Playfair Display",serif;
                    width: 100%;
                    flex: auto;
                }
                > div:nth-child(2) {
                    margin: 10px 0 0;
                    padding: 0;
                    width: 100%;
                }
            }
        }
        .single__gallery {
            .single__gallery--item {
                figure {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
            &.owl-carousel {
                .owl-nav {
                    margin: 30px 0 50px;
                    button {
                        position: initial;
                        top: inherit;
                        bottom: inherit;
                        left: inherit;
                        right: inherit;
                        background-color: transparent !important;
                        color: #eec587 !important;
                        box-shadow: 0 0 0 1px #eec587 !important;
                    }
                }
            }
        }
        .single__rating {
            margin: 0 auto;
            max-width: 400px;
            > div {
                margin: 0 0 15px;
            }
            h3 {
                margin: 0 0 15px;
                font-size: 28px;
                font-family: "Playfair Display",serif;
                color: #eec587;
            }
        }
        .single__social {
            margin: 30px 0;
            padding: 30px 0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            .footer__social {
                margin: 0;
                text-align: center;
                a {
                    margin: 0 5px;
                    color: #000;
                    border-color: #000;
                }
            }
        }
    }

    .page-header .page-header__content {
        columns: 1;
        -webkit-columns: 1;
        -moz-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .single-header {
        figure {
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:before {
                padding-top: 25%;
            }
        }
    }

    .footer {
        background: #BCBCBC;
        color: #FFF;
        overflow: hidden;
        .footer__inner {
            display: flex;
            flex-wrap: wrap;
            .footer__col {
                padding: 0;
                border-right: none;
            }
            .footer__col:nth-child(1) {
                width: 100%;
                .footer__logo {
                    padding: 20px 0;
                    border-left: none;
                    position: relative;
                    text-align: center;
                    border-bottom: 1px solid #FFF;
                    img {
                        width: 160px;
                        height: auto;
                        filter: brightness(0) invert(1);
                    }
                    &:after {
                        display: none;
                    }
                }
            }
            .footer__col:nth-child(2) {
                width: 100%;
                > div {
                    padding: 20px 0;
                    border-bottom: 1px solid #FFF;
                    p {
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            .footer__col:nth-child(3) {
                width: 100%;
                padding: 20px 0;
                .footer__headline {
                    margin: 0 0 15px;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                }

                .footer__form {
                    .form-contact {
                        .form-contact__row {
                            margin: 0 0 10px;
                            input {
                                padding: 7px 10px;
                                width: 100%;
                                border: 1px solid #FFF;
                                background-color: transparent;
                                color: #FFF;
                                font-size: 14px;
                                &::placeholder {
                                    color: #FFF;
                                }
                                &.parsley-error {
                                    border-color: #d38c8c;
                                    background-color: #cfbaba;
                                }
                            }
                            .parsley-errors-list {
                                display: none;
                            }
                        }
                        .contact__btn-submit {
                            border: none;
                            padding: 6px 20px;
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .footer__copywriter {
            padding: 10px;
            border-top: 1px solid #FFF;
            text-align: center;
            font-size: 14px;
        }
    }

    .contact {
        .form-contact {
            .form-contact__row:nth-child(1) {
                input {
                    width: 50%;
                }
            }
        }
    }

    .head {
        .square {
            display: none;
        }
    }

    .toggle-menu {
        display: inline-flex;
        height: 20px;
        align-items: center;
        cursor: pointer;
    }
    .fa-navicon__custom {
        position: relative;
        height: 20px;
        display: flex;
        align-items: center;
    }
    .fa-navicon__custom i {
        height: 2px;
        width: 20px;
        display: block;
        background-color: #e4c591;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .fa-navicon__custom:before {
        content: '';
        width: 20px;
        height: 2px;
        display: block;
        background-color: #e4c591;
        position: absolute;
        top: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .fa-navicon__custom:after {
        content: '';
        width: 20px;
        height: 2px;
        display: block;
        background-color: #e4c591;
        position: absolute;
        bottom: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .nav-open-js .fa-navicon__custom:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .nav-open-js .fa-navicon__custom:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }
    .nav-open-js .fa-navicon__custom i {
        opacity: 0;
    }
    .nav-open-js .nav__mobile {
        opacity: 1;
        visibility: visible;
    }
    .nav-open-js {
        overflow: hidden;
    }
    .nav__mobile {
        padding: 50px;
        position: fixed;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 0;
        background-color: #FFF;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
    }
    .nav__mobile ul li {
        list-style: none;
        position: relative;
    }
    .nav__mobile > ul {
        padding: 0;
    }
    .nav__mobile > ul > li {
        border-bottom: 1px solid #e4c591;
        padding: 10px 0;
    }
    .nav__mobile a {
        color: #e4c591;
    }
    .nav__mobile > ul > li > a {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nav__mobile > ul > li > ul {
        margin: 10px 0;
        padding: 0 0 0 15px;
        display: none;
        border-left: 1px solid;
    }

    .nav__mobile > ul > li > ul > li > ul {
        margin: 10px 0;
        padding: 0 0 0 15px;
        display: none;
        border-left: 1px solid;
    }
    .more {
        padding: 0 10px;
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 16px;
        font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma, Verdana, sans-serif;
        cursor: pointer;
        color: #e4c591;
        font-weight: 300;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .nav__mobile > ul > li > ul li .more {
        top: 1px;
    }
    .more.active {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-mobile__search {
        form {
            display: flex;
            justify-content: space-between;
            input {
                border: 1px solid #000;
                padding: 5px 7px;
                border-radius: 5px;
                -webkit-appearance: none;
                flex: 1;
                width: 80%;
            }
            button {
                margin: 0 0 0 5px;
                padding: 5px 10px;
                background-color: #e4c591;
                border: none;
                border-radius: 5px;
                color: #FFF;
            }
        }
    }

    .button__default {
        margin: 20px 0 0;
        text-align: center;
        a {
            display: inline-flex;
            width: 180px;
            height: 45px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            justify-content: center;
            font-family: "Playfair Display",serif;
            border: 1px solid;
            position: relative;
            text-transform: uppercase;
            line-height: 48px;
            font-size: 13px;
            &:after {
                content: '';
                display: inline-flex;
                width: 180px;
                height: 45px;
                position: absolute;
                right: -8px;
                bottom: -8px;
                border: 1px solid;
            }
        }
    }
}